@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
div, button, input {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

form{
  position: relative;
  display: grid;
  row-gap: 10px;
  align-items: center;
  justify-items: left;
  width: auto;
  height: auto;
}
